%h3 Available offsets

- @offsets.each do |offset|
  %h3= offset.name
  %p= formatted_price(offset.price)
  %p= offset.description
  = link_to 'Buy offset', show_buy_path(offset.permalink), class: 'topcoat-button--cta'