%h1 Welcome to Offset My Beef!

.welcome-links
  = link_to 'Offset what?', '', class: 'topcoat-button--cta'
.welcome-links
  = link_to 'Sign me up', new_user_registration_path, class: 'topcoat-button--cta'
.welcome-links
  = link_to 'Sign me in', '', class: 'topcoat-button--cta'