.centered.constrained
  %h1 Beef production is one of the largest producers of carbon on the planet
  %h2 But...you love beef
  %h2
    %em You're not about to give it up
  %h2 Offset My Beef aims to provide a solution where you can buy carbon offsets for your steaks and hamburgers
  %h2 And contribute to an optional <em>misery offset</em> if you so desire
  %h1 So eat your beef...
  %h1
    %em But give back to the world that gave it to you!

  = link_to 'Learn more about our offsets', page_path('offsets-explained')