= title('Offsets Explained')

%h2
  We buy our carbon offsets from 
  = link_to(image_tag('carbon_fund_logo.png', size: '220x50', class: 'carbon-fund-logo'), 'http://www.carbonfund.com', target: '_blank')