@import url(http://fonts.googleapis.com/css?family=Montserrat:700)

//  ========
//  = Main =
//  ========

.centered
  text-align: center

.tb-margin-divs
  margin: 1em 0

a
  text-decoration: none

//  ==============
//  = Typography =
//  ==============

$header-font: 1.8em 'Montserrat'

h1
  font: $header-font !important
  font-weight: 700 !important

//  =============
//  = Overrides =
//  =============

.topcoat-text-input
  width: 20em

.topcoat-checkbox__checkmark
  width: 0

.checkbox-label
  padding-left: 3em

.icon-logout
  font-size: 2em