//  ========
//  = Main =
//  ========

.centered
  text-align: center

.tb-margin-divs
  margin: 1em 0

a
  text-decoration: none

//  =============
//  = Overrides =
//  =============

.topcoat-text-input
  width: 20em

.topcoat-checkbox__checkmark
  width: 0

.checkbox-label
  padding-left: 3em
